@import url("");

 @media (max-width: 700px){
   .container {
    width: 500px;
   }
 }

 body {
   background-color: #FEFBE7;
   font-family: 'Dancing Script', 'Noto Sans SC';
   color: black;
   font-size: 100%;
 }

 p {
   text-align: justify;
 }

 ul {
   padding: 0;
 }

 .btn {
  color: white;
  background-color: #CDB699;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 4px;
  box-shadow: 5px 5px 0 rgba(128, 128, 128, 0.507);
  text-decoration: none;
 }

 .btn:hover {
   background-color: #E3CAA5;
   font-size: 2px;
 }

 #image {
   width: 150px;
   height: 200px;
   border-radius: 150px;
 }

 .social {
   display: inline-block;
 }
 .social a {
   text-decoration: none;
   color: #A0BCC2;
   font-size: 60px;
 }

 .social a:hover {
   color: #73898e;
   font-size: 80px;
 }

 .container {
   background-color: #E0D8B0;
   border: 6px solid #CDB699;
   border-radius: 15px;
   width: 700px;
   margin: 16px auto;
   padding: 16px 50px;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
